Repository hughrun/public_library_map, pull requests merged in 2021-02, with the labels that each got.

#101 fix typos in contributing.md
  contributing.md
Labels: documentation

#107 Qld loans
  website/data/library_services_information.csv
Labels: data

#111 add Qld website URLs 2.0
  website/data/library_services_information.csv
Labels: auto update, data

#112 Adding websites
  website/data/library_services_information.csv
Labels: data

#113 Lachlan
  .github/workflows/add-contributors.yml
  .github/workflows/update-topo-on-push.yml
  contributors.txt
  website/data/library_services_information.csv
Labels: data

#114 add tas website
  website/data/library_services_information.csv
Labels: data
